*{
    padding: 0;
    margin: 0;
}
.container{
    box-sizing: content-box;
    /* max-width: 1300px; */
    width: 100%;
    height: 300px;
    display: block; 
}
.box{
    /* padding: 20px; */
    /* margin: 20px; */
    border:1px solid black;
    display: inline-block;
    background-color: aqua;
    width: calc(100%/4);
    height: 500px;
    margin-right: -4px;
    font-size: 0px;
}
