<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>Welcome to signup page</div>
    <form action="/api/signup" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="">
        <label for="email">Email</label>
        <input type="text" name="email" id="">
        <label for="password">Password</label>
        <input type="text" name="password" id="">
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>