* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

/* CONTAINER */

.container {
  color: #ffffff;
}
.top-container {
  background: url(./assets/top.jpg);
  height: 100vh;
  background-size: cover;
  filter: contrast(50%) brightness(70%);
  position: relative;
}

.bottom-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-container h1 {
  font-size: 3rem;
}

.bottom-container p {
  padding: 3vh;
  line-height: 3vh;
  text-align: center;
}

.btn {
  border-radius: 3px;
  background: #4c98dc;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: #ffffff;
  border-style: none;
}

/* CONTENT */

.top-content {
  display: flex;
  align-items: center;
  padding: 4vh;
}

.inner-top-content,
.inner-bottom-content {
  padding: 3.5vh;
}

h3,
.inner-top-content p,
.inner-bottom-content p {
  padding: 2vh 0;
  text-align: justify;
}

.inner-bottom-content .btn {
  background-color: #ffffff;
  color: #4c98dc;
}

.bottom-content {
  background-color: #4c98dc;
  color: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 4vh;
}

.content img {
  width: 30vh;
  border-radius: 50%;
}

/* TESTIMONIALS */

.testimonials {
  text-align: center;
  padding: 1vh;
}

.testimonials p {
  padding: 4.5vh 6vh;
  color: #8f8e91;
}

.inner-testimonial {
  display: flex;
  padding: 2.5vw;
}

.inner-testimonial-content img {
  width: 60%;
  border-radius: 50%;
}

.symbols {
  display: flex;
  justify-content: center;
  padding: 1.5vw;
}

.footer i {
  padding: 0 1.5vw;
}
.footer p {
  text-align: center;
  padding: 0.5vw 0;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .bottom-container p {
    line-height: 2.5vw;
  }
}

@media (max-width: 600px) {
  .bottom-container h1 {
    font-size: 3rem;
  }
  .content img {
    width: 100%;
    padding: 8vw;
  }
  .bottom-container p {
    line-height: 6vw;
  }
  .top-content,
  .bottom-content {
    flex-wrap: wrap;
  }
  .inner-testimonial {
    flex-wrap: wrap;
  }
  .inner-testimonial-content {
    padding: 2vw 0;
  }
}
